<section style="margin-bottom:0">
    <div class="slagord">
        <div class="slagordtekst">
                Norges ledende kompetansemiljø på digital samhandling
        </div>
        <div class="slagord-sub">
                Her bør det stå noe annet. Ikke like fengende som slagodet over, men noe som fenger litt og sier noe om hvem vi er og hva vi driver med.
        </div>        
        <div class="arrow">
            <a href="#2">
                <i class="fa fa-arrow-down" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</section>