<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <img src="../ptaken/img/polymountain.svg" class="img-fluid">
            </div>
            <div class="col-6">
                <div class="slagord">
                    <div class="slagordtekst">Norges ledende kompetansemiljø på digital samhandling</div>
                    <a class="btn btn-primary btn-lg" href="#" role="button">Mer om oss</a>   
                </div>
            </div>
        </div>
    </div>
</section>