@import url('https://fonts.googleapis.com/css?family=Arvo');

body {
  font-family: Camphor, Open Sans, Segoe UI, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
  margin-bottom: 0;
}
.karusell {
  background: gainsboro;
}

.home-carousel {
  background: none;
}

@media (max-width: 767px) {
  .navbar-nav {
    }
}
.navbar-light .navbar-nav .nav-link {
  font-size: 1.25em;
  font-weight: 600;
  color: rgb(51, 56, 56);
  padding-right: 1rem;
}
@media (max-width: 992px) {
  .navbar-light .navbar-nav .nav-link {
    color: rgb(204, 199, 199);
  }
}

.box-simple p {
  color: #555;
  font-size: 18px;
}

.home-carousel .dark-mask {
  /* background: url(../img/homepage-slider.jpg); */
  background-size: cover;
  /*background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)),url('../img/mountain.png') center center repeat;*/
  background: #77acd1;
}

.bar.background-pentagon {
  background: #f5f5f5;
  background-size: cover;
  border: none;
}

#heading-breadcrumbs {
  /* background: url(../img/pattern2.svg);
  background-size: cover; */
  padding: 0;
  background: #da4d4d;
}

.box-simple .icon {
  /* background-image: url(../img/pattern1.svg); */
  font-size: 3em;
  background-color: #da4d4d;
  border-radius: 0;
  color: #fff;
}

.box-simple .icon a {
  color: #fff;
}

.mini {
  margin-top: 1rem;
}

.navbar-brand>img {
  height: 25px;
}
@media (max-width: 992px) {
  .navbar-brand>img,
  .navbar-light .navbar-toggler-icon {
    filter: invert(100%);
  }
  .bg-transparent {
    background-color: #24292e !important; 
  }
}
@media (max-width: 767px) {
  .navbar-brand>img {
    height: 15px;
  }
}


.customers .item img {
  max-height: 85px;
}

.navbar-default {
  background: transparent;
}

.slagord {
  /* height: 100vh; */
  /* background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url('../img/mountain.png'); */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  /* background-position: center center; */
  /* margin-top: -60px; */
  /* padding-top: 10rem; */
}

.hero {
  /* height: 100vh;
  background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url('../img/polymountain.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: -60px;
  padding-top: 10rem; */
}

@media (max-width: 992px) {
  .slagord {
    padding-top: 5rem;
    margin-top: 0;
  }
}

.slagordtekst {
  /* margin: 0 10%; */
  text-align: center;
  font-size: 3.5em;
  /* color: #fff; */
  font-family: 'Arvo';
  font-weight: 300;
}

@media (max-width: 992px) {
  .slagordtekst {
    font-size: 2em;
  }
}

.slagord-sub {
  margin: 0 10%;
  text-align: center;
  font-size: 2em;
  color: #f5f5f5;
  margin-top: 2rem;
}
@media (max-width: 767px) {
  .slagord-sub {
    font-size: 1.25em;
    display: none;
  }
}
.slagord .arrow {
  font-size: 2em;
  position: absolute;
  left: 50%;
  bottom: 1rem;
}
.arrow-down {
  width: 0;
  height: 0;
  border-left: 3rem solid transparent;
  border-right: 3rem solid transparent;
  border-top: 3rem solid #e3d8fb;
  margin-top: .5rem;
}
  .slagord .arrow a {
    color: #f5f5f5;
  }
  .om-oss-container {
    outline: 1px solid blue;
    display: flex;
    margin-bottom: 1rem;
  }

  .om-oss-box {
    outline: 1px solid red;
    width: 80%;
  }
  .om-oss-nav {
    outline: 1px solid green;
    width: 20%;
  }

/*INFOSIDER*/
.splash {
  background-repeat: no-repeat;
  background-position: center center;
}
.splash.w-teams {
  background: url('../img/write.jpg');
  background-size: cover;
}
.splash.w-sharepoint {
  background:  linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/action.jpg');
  background-size: cover;
}
.splash.w-office {
  background:  url('../img/office1.jpeg');
  background-size: cover;
}
.splash.w-kurs {
  background:  url('../img/office1.jpeg');
  background-size: cover;
}
.splash.w-azure {
  background:  url('../img/universe.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}
.splash.w-sikkerhet {
  background:  url('../img/security.jpeg');
  background-size: cover;
}
.splash.w-microsoft365 {
  background:  url('../img/write.jpg');
  background-size: cover;
}
.splash.w-crm {
  background:  url('../img/weights.jpg');
  background-size: cover;
}
.splash.w-raad {
  background:  url('../img/kompass.jpg');
  background-size: cover;
}
.splash.w-om-oss {
}
.splash.w-nintex {
  background:  url('../img/lan.jpg');
  background-size: cover;
}
.splash-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  padding: 10rem 4rem;
}
  .splash-wrapper .btn {
    margin-top: 2rem;
  }
@media (max-width: 767px) {
  .splash-wrapper {
    padding: 5rem;
  }
}
@media (max-width: 575) {
  .splash-wrapper {
    padding: 2rem;
  }
}
.splash-slogan {
  color: #fff;
  font-size: 3em;
  text-shadow: 2px 2px #22222261;
}
@media (max-width: 767px) {
  .splash-slogan {
    font-size: 2em;
  }
}
.splash-btn {
  font-size: 1.25em;
  align-self: center;
  text-align: center;
  margin: 2rem 0;
}

.splash-btn a {
  padding: 1rem 2rem;  
  background: #449d44;
  border-color: #398439; 
  color: #fff;
  border-radius: 4px;
}
  .splash-btn a:hover {
    background: #40ab40;
    text-decoration: none;
  }
.ad-about {
  background-color: white;
}
.ad-about-text {
  font-size: 1.5em;
  font-family:'Roboto';
  padding: 3rem 1rem;
}
.testimonials {
  padding: 2rem 0;
}
.ad-info {
  margin-bottom: 3rem;
  font-size: 1.25em;
  padding: 2rem .5rem;
}
.background-blue {
  background: #e4f4fd;
}

.ad-info .yellow,
.background-yellow {
  background: #fafde4;
  padding: 2rem 2rem;
}
.ad-info .green,
.background-green {
  background: #e4fde6;
}
.background-grey {
  background: rgb(245, 245, 245);
  padding: 2rem 2rem;
}
.ad-info-wrapper {
  display: flex;
  padding: 1rem;
  margin-bottom: 3rem;
}
.ad-info-wrapper.tekst {
  flex-direction: column;
}
.ad-info-wrapper.tekst p {
  margin-bottom: 2rem;;
}
@media (max-width: 767px) {
  .ad-info-wrapper {
    flex-direction: column;
  }
}
.ad-info-left,
.ad-info-right {
  width: 50%;
  padding: 2rem;
}
@media (max-width: 767px) {
.ad-info-left,
.ad-info-right {
  width: 100%;
}
}
.ad-info-left {
  padding-bottom: 0rem;
}
.ad-info-left img {
  max-width:100%;
}
.ad-info li {
  line-height: 2;
  list-style: none;
}
.ad-info i {
  margin-right: 1rem;
}
.ad-info-left li i {
  color: #47c547;
}
.ad-info-title {
  font-size: 1.5em;
}
.ad-info .splash-btn {
  text-align: center;
  padding-bottom: 5rem;
  font-size: 16px;
}
.card {
  margin-bottom: 2rem;  
}
.card-title {
  margin-bottom: .75rem;
}
.footer-img {
  max-width: 250px;
  margin-bottom: 1rem;
}