@import url('https://fonts.googleapis.com/css?family=Baloo+Tamma');

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
  margin-bottom: 0;
}

.home-carousel {
  background: none;
}

.navbar-default .navbar-nav>li>a {
  color: #424242;
  /* font-size: 1.25em; */
}

.box-simple p {
  color: #555;
  font-size: 18px;
}

.home-carousel .dark-mask {
  /* background: url(../img/homepage-slider.jpg); */
  background-size: cover;
  /*background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)),url('../img/mountain.png') center center repeat;*/
  background: #77acd1;
}

.bar.background-pentagon {
  background: #f5f5f5;
  background-size: cover;
  border: none;
}

#heading-breadcrumbs {
  background: url(../img/pattern2.svg);
  background-size: cover;
}

.box-simple .icon {
  background-image: url(../img/pattern1.svg);
  font-size: 3em;
  border-radius: 0;
}

.box-simple .icon a {
  color: #fff;
}

.mini {
  margin-top: 1rem;
}

.navbar-brand>img {
  max-height: 30px;
  margin-top: 1rem;
}

.customers .item img {
  max-height: 85px;
}

.navbar-default {
  background: transparent;
}

.slagord {
  height: 100vh;
  background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url('../img/mountain.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: -70px;
  padding-top: 30rem;
}

@media (max-width: 767px) {
  .slagord {
    padding-top: 20rem;
  }
}

.slagordtekst {
  padding: 3rem;
  margin: 0 10%;
  text-align: center;
  font-size: 5em;
  color: #fff;
  font-family: 'Roboto';
  font-weight: 300;
  /* background-color: #dc3535bf; */
}

@media (max-width: 991px) {
  .slagordtekst {
    font-size: 2em;
  }
}

@media (max-width: 767px) {
  .slagordtekst {
    font-size: 1.5em;
  }
}

.slagord-sub {
  margin: 0 20%;
  text-align: center;
  font-size: 2em;
  color: #f5f5f5;
  margin-top: 2rem;
  font-family: 'Baloo Tamma', cursive;
}

.slagord .arrow {
  font-size: 2em;
  position: absolute;
  left: 50%;
  bottom: 1rem;
}
  .slagord .arrow a {
    color: #f5f5f5;
  }
  .om-oss-container {
    outline: 1px solid blue;
    display: flex;
    margin-bottom: 1rem;
  }

  .om-oss-box {
    outline: 1px solid red;
    width: 80%;
  }
  .om-oss-nav {
    outline: 1px solid green;
    width: 20%;
  }