@import url('https://fonts.googleapis.com/css?family=Arvo');

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
  margin-bottom: 0;
}

.home-carousel {
  background: none;
}
@media (max-width: 767px) {
  .navbar-nav {
      background: #fff;
    }
}

.navbar-default .navbar-nav>li>a {
  color: #424242;
}

.box-simple p {
  color: #555;
  font-size: 18px;
}

.home-carousel .dark-mask {
  /* background: url(../img/homepage-slider.jpg); */
  background-size: cover;
  /*background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)),url('../img/mountain.png') center center repeat;*/
  background: #77acd1;
}

.bar.background-pentagon {
  background: #f5f5f5;
  background-size: cover;
  border: none;
}

#heading-breadcrumbs {
  /* background: url(../img/pattern2.svg);
  background-size: cover; */
}

.box-simple .icon {
  background-image: url(../img/pattern1.svg);
  font-size: 3em;
  border-radius: 0;
}

.box-simple .icon a {
  color: #fff;
}

.mini {
  margin-top: 1rem;
}

.navbar-brand>img {
  height: 25px;
  margin-top: 1rem;
}

.customers .item img {
  max-height: 85px;
}

.navbar-default {
  background: transparent;
}

.slagord {
  height: 100vh;
  background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url('../img/mountain.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: -70px;
  padding-top: 30rem;
}

@media (max-width: 767px) {
  .slagord {
    padding-top: 20rem;
  }
}

.slagordtekst {
  margin: 0 10%;
  text-align: center;
  font-size: 5em;
  color: #fff;
  font-family: 'Arvo';
  font-weight: 300;
}

@media (max-width: 991px) {
  .slagordtekst {
    font-size: 2em;
  }
}

@media (max-width: 767px) {
  .slagordtekst {
    font-size: 1.5em;
  }
}

.slagord-sub {
  margin: 0 10%;
  text-align: center;
  font-size: 2em;
  color: #f5f5f5;
  margin-top: 2rem;
}
@media (max-width: 767px) {
  .slagord-sub {
    font-size: 1.25em;
  }
}
.slagord .arrow {
  font-size: 2em;
  position: absolute;
  left: 50%;
  bottom: 1rem;
}
  .slagord .arrow a {
    color: #f5f5f5;
  }
  .om-oss-container {
    outline: 1px solid blue;
    display: flex;
    margin-bottom: 1rem;
  }

  .om-oss-box {
    outline: 1px solid red;
    width: 80%;
  }
  .om-oss-nav {
    outline: 1px solid green;
    width: 20%;
  }

/*INFOSIDER*/
.splash {
  background-repeat: no-repeat;
  background-position: center center;
}
.splash.w-teams {
  background: url('../img/write.jpg');
  background-size: cover;
}
.splash.w-sharepoint {
  background:  linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/action.jpg');
  background-size: cover;
}
.splash.w-office {
  background:  url('../img/office1.jpeg');
  background-size: cover;
}
.splash.w-kurs {
  background:  url('../img/office1.jpeg');
  background-size: cover;
}
.splash.w-azure {
  background:  url('../img/universe.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}
.splash.w-sikkerhet {
  background:  url('../img/security.jpeg');
  background-size: cover;
}
.splash.w-microsoft365 {
  background:  url('../img/write.jpg');
  background-size: cover;
}
.splash.w-crm {
  background:  url('../img/weights.jpg');
  background-size: cover;
}
.splash.w-raad {
  background:  url('../img/kompass.jpg');
  background-size: cover;
}
.splash.w-om-oss {
}
.splash.w-nintex {
  background:  url('../img/lan.jpg');
  background-size: cover;
}
.splash-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  padding: 20rem;
}
@media (max-width: 767px) {
  .splash-wrapper {
    padding: 10rem;
  }
}
@media (max-width: 575) {
  .splash-wrapper {
    padding: 2rem;
  }
}
.splash-slogan {
  color: #fff;
  font-size: 3em;
  text-shadow: 2px 2px #22222261;
}
@media (max-width: 767px) {
  .splash-slogan {
    font-size: 2em;
  }
}
.splash-btn {
  font-size: 1.25em;
  align-self: center;
  text-align: center;
  margin: 2rem 0;
}

.splash-btn a {
  padding: 1rem 2rem;  
  background: #449d44;
  border-color: #398439; 
  color: #fff;
  border-radius: 4px;
}
  .splash-btn a:hover {
    background: #40ab40;
    text-decoration: none;
  }
.ad-about {
  background-color: white;
}
.ad-about-text {
  font-size: 1.5em;
  font-family:'Roboto';
  padding: 3rem 1rem;
}
.testimonials {
  padding: 2rem 0;
}
.ad-info {
  margin-bottom: 3rem;
  font-size: 1.25em;
  padding: 2rem .5rem;
}
.background-blue {
  background: #e4f4fd;
}

.ad-info .yellow,
.background-yellow {
  background: #fafde4;
  padding: 2rem 2rem;
}
.ad-info .green,
.background-green {
  background: #e4fde6;
}
.background-grey {
  background: rgb(245, 245, 245);
  padding: 2rem 2rem;
}
.ad-info-wrapper {
  display: flex;
  padding: 1rem;
  margin-bottom: 3rem;
}
.ad-info-wrapper.tekst {
  flex-direction: column;
}
.ad-info-wrapper.tekst p {
  margin-bottom: 2rem;;
}
@media (max-width: 767px) {
  .ad-info-wrapper {
    flex-direction: column;
  }
}
.ad-info-left,
.ad-info-right {
  width: 50%;
  padding: 2rem;
}
@media (max-width: 767px) {
.ad-info-left,
.ad-info-right {
  width: 100%;
}
}
.ad-info-left {
  padding-bottom: 0rem;
}
.ad-info-left img {
  max-width:100%;
}
.ad-info li {
  line-height: 2;
  list-style: none;
}
.ad-info i {
  margin-right: 1rem;
}
.ad-info-left li i {
  color: #47c547;
}
.ad-info-title {
  font-size: 1.5em;
}
.ad-info .splash-btn {
  text-align: center;
  padding-bottom: 5rem;
  font-size: 16px;
}
/*CARDS*/
.card {
  margin-bottom: 2rem;  
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;  
}
.card-img-top {
  width: 100%;
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);  
}
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;  
}
.card-title {
  margin-bottom: .75rem;
}
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;  
}
.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;  
}

.footer-img {
  max-width: 250px;
  margin-bottom: 1rem;
}